**/__pycache__/
tests/exported_models/
tests/keras_logs/
tests/keras-logs/
notebooks/.ipynb_checkpoints/
data/
keras-logs/
tb-logs/
.idea/
talos_output/
.vscode/
**/*.pyc
tests/parameters/
tests/tb/
qsub/
**/*.nfs*
.pytest_cache/
core
tests/tb-old-broken-syn/
tests/talos_output
hps_results/
qsub_errors/
qsub_output/
final_results/
talos_chrom*
.pycharm_helpers/
